/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #203a43;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ECF0F1;
    font-family: 'Roboto', 'Arial', sans-serif;
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar a:hover {
    color: #3498DB;
    background-color: #34495E;
}

/* Sidebar Toggle Button */
.openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #647C90;
    color: white;
    padding: 7px 12px;
    border: none;
    position: absolute;
    top: 24px;
    left: 20px;
    border-radius: 5px;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.openbtn:hover {
    background-color: #566372;
}


/* Chat Container */
.chat-container {
    padding-left: 60px;
    padding-right: 60px;
    padding: 16px;
    transition: margin-left 0.5s;
    background-color: transparent;
    margin-left: 250px;
    scrollbar-color:  #34495e; 
    position: relative; 
}

.chat-box {
    background-color: #34495e;
    color: #d7d7d7;
    border-radius: 10px;
    padding: 20px;
    height: 75vh;
    overflow-y: auto;
    margin-bottom: 20px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3); 
    overflow-y: auto;
    scrollbar-color: #040404 #252525; 
}

/* Styling for WebKit browsers like Chrome, Safari */
.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #191919;
    border-radius: 10px;
}

.chat-box::-webkit-scrollbar-track {
    background-color: #34495e;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 80%;
}

.user {
    background-color: #34495e;
    align-self: flex-end;
}

.ai {
    color: #d7d7d7;
    align-self: flex-start;
}

/* Input Area Styles */
.input-area {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the items vertically */
    position: absolute;
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    margin: 0 auto; /* Center the input area */
    max-width: 600px; /* Adjust this value to control the max width of the input area */
    min-height: 50px; /* Minimum height */
    border-radius: 30px; /* Increased radius */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3); /* Slight shadow for depth */
    padding: 9px;
}

.input-group textarea {
    width: calc(100% - 50px); /* Adjust width to accommodate the send button */
    padding: 15px;
    border: none; /* Remove border */
    border-radius: 20px; /* Increased radius */
    font-size: 16px;
    outline: none; /* Remove the default focus outline */
    background-color: #2c3e50; /* Slightly darker than the input area background */
    color: #ECF0F1; /* Light color for the text */
    resize: none; /* Disable resize handle */
    overflow-y: auto; /* Allow vertical scrolling */
    box-sizing: border-box; /* Include padding in the height calculation */
    min-height: 20px; /* Minimum height */
    max-height: 70px; /* Maximum height before scrolling */
    height: 50px; /* Initial height */
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group textarea::-webkit-scrollbar {
    display: none;
}

/* Input Group */
.input-group {
    position: relative; /* Allows absolute positioning relative to this parent */
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0; /* Adjusted to align with the new background */
}


/* Input Element */
.input-group input {
    width: calc(100% - 50px); /* Adjust width to accommodate the send button */
    padding: 15px;
    border: none; /* Remove border */
    border-radius: 20px; /* Increased radius */
    font-size: 16px;
    outline: none; /* Remove the default focus outline */
    background-color: #2c3e50; /* Slightly darker than the input area background */
    color: #ECF0F1; /* Light color for the text */
}

.input-group .send-button {
    position: absolute;
    right: 4px;
    background-color: #3a413a;
    color: white;
    border: none;
    border-radius: 30%; /* Circle shape */
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1); /* Shadow to match the input field */
}

/* Arrow icon styling */
.input-group .send-button .arrow-up {
    display: block;
    font-size: 24px; /* Adjust the size of the arrow */
}

/* Additional styling for button hover effect */
.input-group .send-button:hover {
    background-color: #626462; /* Slightly darker on hover */
}

.input-group button:hover .arrow-up {
    color: #ccc; /* Change color on hover */
}



.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.help-text {
    font-size: 20px;
    margin-top: 10px;
    color: #ECF0F1;
}

/* Hide the center content when chat begins */
.chat-started .center-content {
    display: none;
}