/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #203a43;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ECF0F1;
    font-family: 'Roboto', 'Arial', sans-serif;
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar a:hover {
    color: #3498DB;
    background-color: #34495E;
}

/* Sidebar Toggle Button */
.openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #647C90;
    color: white;
    padding: 7px 12px;
    border: none;
    position: absolute;
    top: 24px;
    left: 20px;
    border-radius: 5px;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.openbtn:hover {
    background-color: #566372;
}


/* Chat Container */
.chat-container {
    padding-left: 60px;
    padding-right: 60px;
    padding: 16px;
    transition: margin-left 0.5s;
    background-color: transparent;
    margin-left: 250px;
    scrollbar-color: #34495e;
    position: relative;
}

.chat-box {
    background-color: #34495e;
    color: #d7d7d7;
    border-radius: 10px;
    padding: 20px;
    height: 75vh;
    overflow-y: auto;
    margin-bottom: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    scrollbar-color: #040404 #252525;
}

/* Styling for WebKit browsers like Chrome, Safari */
.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #191919;
    border-radius: 10px;
}

.chat-box::-webkit-scrollbar-track {
    background-color: #34495e;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 80%;
}

.user {
    background-color: #34495e;
    align-self: flex-end;
}

.ai {
    color: #d7d7d7;
    align-self: flex-start;
}

/* Input Area Styles */
.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 600px;
    min-height: 50px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 9px;
}

/* Styling for AI messages */
.message-text code {
    background-color: #2c3e50;
    color: #f39c12;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

/* Smooth scrolling for chat messages */
.chat-box {
    scroll-behavior: smooth;
}

/* Bulleted list styling */
.message-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.input-group textarea {
    width: calc(100% - 50px);
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    background-color: #2c3e50;
    color: #ECF0F1;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
    min-height: 20px;
    max-height: 70px;
    height: 50px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group textarea::-webkit-scrollbar {
    display: none;
}

/* Input Group */
.input-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;

}

.input-group .send-button {
    position: absolute;
    right: 4px;
    background-color: #3a413a;
    color: white;
    border: none;
    border-radius: 30%;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Arrow icon styling */
.input-group .send-button .arrow-up {
    display: block;
    font-size: 24px;
}

/* Additional styling for button hover effect */
.input-group .send-button:hover {
    background-color: #626462;
}

.input-group button:hover .arrow-up {
    color: #ccc;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.session-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: relative;
  }
  
  .menu-container {
    position: relative;
  }
  
  .ellipsis-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #ecf0f1;
    cursor: pointer;
  }
  
  .ellipsis-btn:hover {
    color: #bdc3c7;
  }
  
  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #34495e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 10;
    display: none; /* Hidden by default */
  }
  
  .menu button {
    background: none;
    border: none;
    color: #e74c3c;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .menu button:hover {
    background-color: #c0392b;
    color: #fff;
  }
  

.add-chat-btn {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 45px;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.add-chat-btn:hover {
    background-color: #2980b9;
}




.logo {
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.help-text {
    font-size: 20px;
    margin-top: 10px;
    color: #ECF0F1;
}

/* Hide the center content when chat begins */
.chat-started .center-content {
    display: none;
}
